[flake8]
max-line-length = 120
per-file-ignores = 
    startbot.py:W291
    admin.py:E701,E501,F841
    blockchain_service.py:E501
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    env,
    venv